/* confirm-dialog.component.scss */

h1 {
  padding: 10px;
}

button {
  border-radius: 5px;
}


section {
  display: table;
}


.button-row {
  display: table-cell;
  max-width: 600px;
}


.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.snackbar-warning {
  background-color: orange;
  color: white;
}
