<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5">
  <div class="col" *ngFor="let carro of carro$ | order: 'price'">
    <div class="card h-100">
      <img [src]="carro.image" class="card-img-top" alt="{{carro.d_alt}}">
      <div class="card-body row text-center">
        <div class="col-6">
          <p class="card-text ajuste"> {{carro.name}}</p>
          <p class="card-text"> {{carro.brand}}</p>
        </div>
        <div class="col-6">
          <p class="card-text">{{carro.model}}</p>
          <p class="card-text" >{{carro.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>




