<footer class="fixed-bottom nav-footer bg-dark text-white py-3">
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="list-inline mb-3">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/dev-carlasousa/" target="_blank" class="text-white">
            <i class="bi bi-linkedin"></i>
            <span class="d-none d-md-inline">LinkedIn</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/carlansouza" target="_blank" class="text-white">
            <i class="bi bi-github"></i>
            <span class="d-none d-md-inline">GitHub</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/carlann.s/" target="_blank" class="text-white">
            <i class="bi bi-instagram"></i>
            <span class="d-none d-md-inline">Instagram</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center mb-0">
          <small>
            &copy; 2024 <a href="#" class="text-white">CS Vitrines</a> - Todos os direitos reservados.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
