<footer class="fixed-bottom nav-footer">
  <div class="container">
    <div>
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/dev-carlasousa/" target="_blank">
            linkedin
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/carlansouza" target="_blank">
            github
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/carlann.s/" target="_blank">
            instagram
            <i class="bi bi-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-center">
          <small>
            &copy; 2024 <a href="#">CS Car Motor</a> - Todos os direitos reservados.
          </small>
        </p>
      </div>
    </div>
  </div>

</footer>
