<div class="container mt-5 mb-5">
  <div>
    <h1 class="text-center">Painel de Controle</h1>
  </div>
  <!-- CRUD CARROS -->
  <div>
    <!-- CRUD operations go here -->
    <div class="card">
      <div class="card-header">
        <h3>Meus Veiculos</h3>
      </div>
      <div class="card-body">
        <div class="">
          <div class="">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text"
                           class="form-control"
                           id="nome"
                           name="nome"
                           [(ngModel)]="carro.name">
                  </div>
                  <div class="mb-3 col-6">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text"
                           class="form-control" id="marca" name="marca" [(ngModel)]="carro.brand">
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" [(ngModel)]="carro.model">
                  </div>
                  <div class="mb-3 col-6">
                    <label for="preco" class="form-label">Preço</label>
                    <input type="text" class="form-control" id="preco" name="preco" [(ngModel)]="carro.price">
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 col-12">
                    <label for="image" class="form-label">URL Imagem</label>
                    <input type="text"
                           class="form-control"
                           id="image"
                           name="image"
                           [(ngModel)]="carro.image">
                  </div>
                  <button class="btn btn-success" (click)="buttonClick()">
                    Adicionar Carro
                  </button>
                </div>
              </form>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Preço</th>
              <th>Descrição</th>
              <th>Imagem</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let carro of carros$ | order: 'id'">
              <td>{{carro.id}}</td>
              <td>{{carro.name}}</td>
              <td>{{carro.brand}}</td>
              <td>{{carro.model}}</td>
              <td>{{carro.price}}</td>
              <td>{{carro.d_alt}}</td>
              <td class="td-limitado">{{carro.image}}</td>
              <td class="d-flex justify-content-around">
                <button class="btn btn-primary btn-sm"
                        (click)="preencherFormulario(carro)">
                        Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="deletarCarro(carro.id)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
