<div class="container">
  <div>
    <h1 class="mt-5 mb-5 text-center">
      Venha conhecer nossa Vitrine de veículos.
    </h1>
    <h5 class="maquina-escrever">
      Nascemos para ser a melhor empresa de veículos do mercado.
    </h5>
    <div class="row mt-5 justo">
      <div class="col-6">
        <p>A CS Vitrine é uma empresa que preza pela qualidade e segurança de seus clientes. Nossos veículos são revisados e garantimos a procedência de todos eles.
        </p>
        <p>
          Aqui você encontra os melhores veículos com os melhores preços e condições de pagamento.
        </p>
      </div>

      <div class="col-6 vitrine">
        <img src="assets/vitrine-car.jpg" alt="carro" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container cadastro d-flex justify-content-center">
  <div>
   <h6>
     Realize seu sonho de ter um carro novo com a CS Vitrine.
   </h6>
   <p>
     Faça seu <a routerLink="/login">login</a> e tenha acesso a nossa vitrine de veículos.
   </p>
  </div>
</div>

